/* Reuse big-header layout for slides */
.slideshow .big-header__overlay{ background: rgba(0,0,0,0.35); padding: 12px 18px; }

/* arrows sit above the background */
.slideshow .arrow{
    color:#F28729;
    text-decoration: none;
    font-size: 4.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: #F2E6D8; */
    border-radius: 4px;
    padding: 6px 10px;
    z-index: 2;
}

.slideshow #right-arrow{ right: 4%; }
.slideshow #left-arrow{ left: 4%; }