.CardsCarousel {
  margin: 20px;
}

.volunteer img {
  max-width: 600px;
}

.volunteer{
  background: #919615;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  overflow: hidden;
}
